.formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .formWrapper{
        background-color: #fff;
        padding: 20px 60px;
        .form{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}
